body{
  margin:0;
  background: radial-gradient(circle at top left,#ac8764,#63402c);
  color:white;
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:center;
  min-height:700px;
}
.catGame{
  background:#ffffff0d;
  border-radius:16px;
  padding:20px;
  box-shadow:0 8px 30px rgba(0, 0, 0, 0.5);
  text-align:center;
  max-width: 500px;
}
b{
  margin-left: 15px;
}
.corobka{
  display:flex; 
  justify-content:center; 
  gap:15px;
  margin: 15px;
  flex-wrap: wrap;
}
.dep{
  width:110px; 
  height:350px;
  min-width: 90px;
  background:rgba(255,255,255,0.05);
  border-radius:10px;
  overflow:hidden;
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  align-items:center;
  border:1px solid #632c2c;
}
.barni{
  height:80px; 
  display:flex; 
  align-items:center; 
  justify-content:center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.barni img{
  width:100px; 
  height:100px; 
  object-fit:contain;
}
.knopka{
  display:flex; 
  justify-content:center; 
  gap:10px;
  flex-wrap: wrap;
}
button {
  background: radial-gradient(circle at top left,#960404,#e4040493);
  color:#fff;
  border:none; 
  padding:10px 18px;
  border-radius:5px; 
  cursor:pointer; 
  font-weight:bold;
  box-shadow:0 4px 10px #ac8764;
}
@keyframes fall {
  0% { transform: translateY(0) rotate(0deg); opacity: 1; }
  100% { transform: translateY(100vh) rotate(360deg); opacity: 0; }
}
@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  .dep {
    width: 80px;
    height: auto;
  }
  .barni img {
    width: 70px;
    height: 70px;
  }
  .knopka {
    display: flex;
    gap: 8px;
    justify-content:center; 
  }
}