body {
  background-image: url(IMG_7089.jpeg); 
  background-size: cover;   
  background-attachment: fixed; 
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;
}
.app {
  background: rgb(246, 244, 237);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 300px;
  text-align: center;
  margin-left: 15px;
  margin-top: 105px;
}
h1 {
  color: #8a2d08;
  margin-bottom: 15px;
}
.stats {
  font-size: 14px;
  margin-bottom: 10px;
  color: #2d3436;
}
#correct, .feedback.correct{
  color: rgb(0, 158, 5);
}
#wrong, .feedback.wrong{
  color: rgb(167, 0, 0);
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8a1b0837;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
  transition: transform 0.2s ease;
  height: 180px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.03);
}
input {
  width: 80%;
  padding: 10px;
  border: 2px solid #880000;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
}
.btn {
  background: #880000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
.btn:hover {
  background: #c60101;
}
.feedback {
  font-weight: bold;
  margin-top: 10px;
  min-height: 24px;
}
.modal {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.content {
  background: rgb(174, 0, 0);
  color: white;
  padding: 25px 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  width: 80%;

}

@media (max-width: 650px) {
  body {
    background-image: url(CA4351BF-C1CC-4145-B14A-D568ED4AFB68.jpeg); 
    background-size: cover;   
    background-attachment: fixed; 
    background-position: center; 
  }
  .app {
      padding: 20px;
      width: 380px;
      height: 520px;
      margin-left: -10px;
      margin-top: -30px;
  }
  h1 {
    color: #08588a;
  }
  .card {
      height: 230px;
      width: 380px;
  }
  input[type="text"] {
      font-size: 20px;
      width: 250px;
  }
  .btn {
    font-size: 20px;
    padding: 10px 20px;
  }
  .stats, .feedback{
    font-size: 20px;
  }
  .content {
    background: #08588a;
  }
  .btn {
    background: #0c84ce;
  }
  .btn:hover {
    background: #08588a;
  }
  input {
    border: 2px solid #08588a;
  }
}
